/* CUSTOM CSS */

/* Glyphicons Font Url Change */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/glyphicons-halflings-regular.eot');
  src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/* TENANT FORM */

#tenant-form, #tenant-update-form {
	margin-top: 35%;
}
#tenant-update-form .form-heading, #tenant-form .form-heading {
	margin: 5%;
	font-weight: bold;
}


#tenant-detail-table {
   margin-top: 10%;
}

#tenant-detail-table .panel-heading {
   font-weight: 700;
}
#tenant-detail-table .panel button.btn {
	margin-top: -6px;
}

/* TENANT EDIT AND DELETE BUTTONS */

.action-tenant-edit,
.action-tenant-delete {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -5px;
}