<div class="row">
	<div class="col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-4 col-lg-offset-4">
		<div class="bg-info text-center" ng-if="tenants.length === 0">No Tenants</div>
		<div class="list-group" ng-if="tenants.length > 0">

			<input type="radio" ng-model="selectedSearch" value="allTenants" > All Tenants
		    <input type="radio" ng-model="selectedSearch" value="tenantsWithDebt" > Tenants with Debt
		    <input class="m-b-sm" type="radio" ng-model="selectedSearch" value="tenantsWithNoDebt" > Debt-Free Tenants

		    <br>
		    <br>
		    <div class="form-group">
				<input class="form-control" type="text" ng-model="nameSearch" name="nameSearch" placeholder="Filter by Name">
			</div>
		    <br>
		    <br>


			<a class="list-group-item" ng-repeat="tenant in tenants | filter:filterDebt(selectedSearch) | filter: {name: nameSearch}" ng-href="#!/tenants/profile/{{tenant.id}}" title="Click To See The Tenant Details"><strong>Name:</strong> {{tenant.name}}. <strong>Debt:</strong> {{tenant.debt}} 
			    <button type="button" class="btn btn-info btn-sm pull-right action-tenant-edit" title="Click To Edit Tenant" ng-click="goToUpdateTenantView($event, tenant)">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
				<button type="button" class="btn btn-danger btn-sm pull-right action-tenant-delete" title="Click To Delete Tenant" ng-click="deleteTenant($event, tenant)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</a>
		</div>
		<br>
		<a class="btn btn-warning" href="#!/tenants/new">Create New Tenant</a>

	</div>
</div>